*{margin: 0; padding: 0;}
.wrapper{
	margin-left: 90px;
	
}
#section{
	width:510px ;
	float: left;
	display: block;
}
#section h1{
	font-weight: bold;
	font-family: arial;
	font-size: 50px;
}
#pe{
	margin-top: 50px;
}

.peter{
	color: orange;
}
#section h3{
	margin-top: 60px;
	font-family: arial;
}
#section p{
	line-height: 1.5em;
	margin-top: 20px;
	font-family: arial;
	width: 467px;
	text-align: justify;
	color: dimgray;
}
#hire-button{
	margin-top: 10px;
   	background:linear-gradient(
45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 16px;
}
#hire-button a{
    text-decoration: none;
    color: white;
}
#hire-button a:hover{
	color:  #353744;

}
#left-img img{
	float: left;
	width:533px ;
	height: 505px;
	margin-top: -41px;
	margin-left: 163px;

}
#first-img img{
	display: block;

}


#right-img img{
	float: left;
	width:533px ;
	height: 505px;
	margin-top: 129px;
}

#aside{
	width:450px ;
	float: left;
	display: block;
	margin-top:197px;
	margin-left: 123px;
}
#aside h2{
	font-family: arial;
	font-size: 40px;
}
#aside h3{
	    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 31px;
    font-size: 21px;
}
#aside p{
	color: dimgray;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5em;
    font-size: 18px;
}
#resume{
	margin-top: 10px;
   	background:linear-gradient(
	45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    border: none;
}
#resume a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
#resume a:hover{
	color:  #353744;

}
#img-left img{
	margin-top: 296px;
}

#hello{
	margin-bottom: 90px;
}





#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(
180deg, lightsalmon, tomato);
    border-image-slice: 1;
    height: 350px;
}
.experience-area div {
    box-shadow: 5px 7px 40px grey;
    height: 80%;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}



h1{
	font-size: 47px;
	margin-bottom: 30px;
}




h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 40px;
}

.experience-area h3 {
    color: orange;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p { 
	color: dimgray;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(
180deg, blue, cyan);
    border-image-slice: 1;
    height: 350px;
}
.experience-area div {
    box-shadow: 5px 7px 40px grey;
    height: 80%;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
#last-img img{
	margin-top: -200px;

}

#footer p{
	text-align: center;
	margin-top: 200px;
	font-size: 18px;
	font-family: arial;
}


